<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		 <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="Member" type="com.kh.spring.member.model.dto.Member"/>
		<typeAlias alias="Product" type="com.kh.spring.market.model.dto.Product"/>
		<typeAlias alias="Review" type="com.kh.spring.market.model.dto.Review"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/mapper/mybatisMapper.xml" />
		<mapper resource="mybatis/mapper/marketMapper.xml" />
		<mapper resource="mybatis/mapper/boardMapper.xml" />
		<mapper resource="mybatis/mapper/diseaseMapper.xml" />
	</mappers>
	
</configuration>