<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Sevi | Landing, Corporate &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/webapp/resources/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/main/webapp/resources/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/main/webapp/resources/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/src/main/webapp/resources/img/favicons/favicon.ico">
    <link rel="manifest" href="/src/main/webapp/resources/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/src/main/webapp/resources/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/src/main/webapp/resources/css/price/theme.css" rel="stylesheet" />

  </head>


  <body style="min-height: 100vh;">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="#"> <img class="me-3" src="/src/main/webapp/resources/img/gallery/logo.png" alt="" />
            <div class="text-primary font-base">똑DOG한 집사들</div>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item"><a class="nav-link fw-medium active" aria-current="page" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#books">Books</a></li>
              <li class="nav-item"><a class="nav-link" href="#libraries">Libraries</a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action </a></li>
                </ul>
              </li>
            </ul>
            <form class="ps-lg-5">
              <button class="btn btn-lg btn-primary rounded-pill bg-gradient font-base order-0" type="submit">Login</button>
            </form>
          </div>
        </div>
      </nav>
     
        <div class="container mt-7"  style="background-color: rgb(240, 234, 213);">
          <div class="bg-holder d-none d-md-block "
            style="background-image:url(https://img.huffingtonpost.com/asset/5d71cec32500007f160626a3.jpeg?ops=scalefit_630_noupscale);background-position:right bottom;background-size:contain;">
          </div>
          <!--/.bg-holder-->
        
          <div class="bg-holder d-block d-md-none"
            style="background-image:url(https://img.huffingtonpost.com/asset/5d71cec32500007f160626a3.jpeg?ops=scalefit_630_noupscale);background-position:right top;background-size:contain;">
          </div>
          <!--/.bg-holder-->
          <div class="row align-items-center min-vh-md-50" >
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center" >
              <h1 class="mt-6 mb-sm-4 display-4 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-7">Today's research, <br
                  class="d-block d-lg-none d-xl-block" />tomorrow's innovation</h1>
              <p class="mb-4 fs-1">Accelerating research discovery to shape a better future </p>
      
            </div>
          </div>
          
        </div>
    


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <div class="mb-0 pb-3 title"><span class="btn_dog">강아지 </span><span class="btn_cat">고양이</span></div>
                <input class="checkbox" type="checkbox" id="reg-log" name="reg-log">
                <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-auto mb-5 mb-md-7">
                          <h1 class="fw-semi-bold text-1100">강아지</span></h1>
                        </div>
                      </div>
                      <div class="row" >
                        <a class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">슬개골탈구</h3>
                          </div>
                        </a>
                        <a class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">유선종양</h3>
                          </div>
                        </a>
                        <a class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">경계선종양</h3>
                          </div>
                        </a>
                        <a class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/authors.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">중성화</h3>
                          </div>
                        </a>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">디스크 추간판탈장</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">골절</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">탈장</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/authors.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">건강검진</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">체리아이</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">요도방광 결석</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">자궁축농증</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/authors.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">항문낭제거수술</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                     </div>
                    </div>
                  </div>
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-auto mb-5 mb-md-7">
                          <h1 class="fw-semi-bold text-1100">고양이</span></h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">중성화</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">외이도염</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">자궁축농증</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/authors.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">안구적출술</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">항문낭 제거수술</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">유선종양</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">경계선 종양</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/authors.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">고양이 전발치</h3>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/researchers.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">만성신장질환검진</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/librarian.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">요도방광 결석</h3>
                          </div>
                        </div>
                        <div class="col-sm-3 col-lg-3 mb-4 mb-lg-0 text-center">
                          <div class="px-0 px-lg-3"><img class="img-fluid mb-4" src="/src/main/webapp/resources/img/gallery/societies.png" width="100" alt="..." />
                            <h3 class="h5 mb-4 font-base">스케일링</h3>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
        
        <!-- end of .container-->

      </section>
   


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/src/main/webapp/resources/js/theme.js"></script>
   
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>