<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Sevi | Landing, Corporate &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/webapp/resources/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/main/webapp/resources/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/main/webapp/resources/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/src/main/webapp/resources/img/favicons/favicon.ico">
    <link rel="manifest" href="/src/main/webapp/resources/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/src/main/webapp/resources/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="/src/main/webapp/resources/css/styles.css" rel="stylesheet" />

  </head>

  <body style="min-height: 100vh;">

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" href="#"> <img class="me-3" src="assets/img/gallery/logo.png" alt="" />
            <div class="text-primary font-base">Sevi</div>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item"><a class="nav-link fw-medium active" aria-current="page" href="#">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#books">Books</a></li>
              <li class="nav-item"><a class="nav-link" href="#libraries">Libraries</a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action </a></li>
                </ul>
              </li>
            </ul>
            <form class="ps-lg-5">
              <button class="btn btn-lg btn-primary rounded-pill bg-gradient font-base order-0" type="submit">Login</button>
            </form>
          </div>
        </div>
      </nav>
      
      <section id="libraries"  style="background-color:  rgb(240, 234, 213);">
       
        <!--/.bg-holder-->

        <div class="container">
          <div class="row g-xl-0 align-items-center pt-5">
            <div class="col-md-5 col-lg-7 text-xl-center">
                <h1 class="fw-semi-bold ">평균 진료비</h1>
                <div class="py-3"><h3 class="fw-semi-bold">500000원</h3></div>
            </div>
            <div class="col-md-7 col-lg-4  offset-lg-1 offset-xxl-0">
              
             <div class="py-3 text-end">
                <button class="btn btn-lg btn-primary rounded-pill font-base" type="submit">영수증 첨부 </button>
              </div>
            </div>
          </div>
        </div>
      </section>
     <br>
        
        <!--/.bg-holder-->
        <div class="container"><div class="col-md-12 col-lg-12 text-center text-md-start offset-lg-1 offset-xxl-0" style="border-width:0 0 2px 0; border-style: solid;">
            
            <h1 class="fw-semi-bold ">병명</h1></div></div>
        <div class="container">
          <div class="row g-xl-0 align-items-center">
            <div class="col-md-7 col-lg-7 text-center text-md-start offset-lg-1 offset-xxl-0">
                
                <p class="pt-3 lh-lg">Your reading list is a good place to start, but you will be expected to read more widely too. Use Sevi to search for information on your topic, and to find books, journal articles and other materials in the Library.</p>
                
              </div>
            <div class="col-md-5 col-lg-5 text-xl-center"><img class="img-fluid mb-5 mb-md-0" src="assets/img/illustrations/our-libraries.png" width="620" alt="" /></div>
            
          </div>
        </div>
      


     
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/src/main/webapp/resources/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>