
/* 프로필 */
.my-img{
	border-radius: 7rem; 
	height: 15rem; 
	width: 13rem;"
}

.px-4{
	display: flex;
}

.mt-4{
	display: flex;
    align-items: center;
    justify-content: center;
}

.rv-img-div{
	width: 100%;
    width: 380px;
    height: 220px;
    overflow: hidden;
    margin-top: 10px;
    padding-right: 0 !important;
}
}

.rv-img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 쿠폰, 적립금 */
.fa-ticket-alt:before{
	color: black;
}
.fa-coins:before{
	color: black;
	padding-left: 10px;
}


.aside-nav{
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    min-width: 15rem;
    justify-content: space-around;
}

.aside-ul{
    list-style: none;
}

.aside-ul>* {
    text-decoration: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem; 
}

.aside-ul a {
    text-decoration: none;
    color: gray;
}

.aside-ul a:hover {
    color: dodgerblue;
}

.sub-ul{
    padding-left: 0.3rem;
    list-style: none;
    margin-bottom: 0.5rem;
}

.sub-ul > *{
    float: left;
    padding-right: 2rem;
    color: lightgray;
}

.sub-ul a {
    text-decoration: none;
    color: lightgray;
}

.sub-ul a:hover {
    color: dodgerblue;
}

.product-index{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.product-index-2{
    display: flex;
    justify-content: space-between;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 1rem;
}

.n-table {
    width: 100%;
    line-height: 1.5;
    border-collapse: collapse;
    table-layout: fixed;
}

.n-table.table-col {
    border-top: 1px solid #000000;
}

.n-table.table-col th {
    height: 52px;
    border-bottom: 1px solid #000000;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
}

.n-table.table-col .n-prd-row {
    margin: 10px 0;
}

.n-prd-row {
    display: table;
    table-layout: fixed;
    min-height: 96px;
    line-height: 1.5;
    text-align: left;
    position: relative;
}

.n-prd-row .info {
    list-style: none;
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}

.n-prd-row .cart-info{
    list-style: none;
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 12px;
}

.n-table.table-col td {
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}

.n-table-filter {
    margin-bottom: 20px;
}

.n-table-filter .n-radio-tab, .n-table-filter .n-datepicker{
    float: left;
    margin-right: 20px;
}

.period-label{
    padding: 2px;
    margin: -1.9px;
}



.like-btn{
    border: 1px solid black;
    border-radius: 1rem;
}

input[type=checkbox]:checked + .like-btn{
    border: 1px solid steelblue;
    color: steelblue;
} 

.link-white{
    color: white;
}

.link-white:hover{
    color: cadetblue;
}

.btn-review{
    border: 1px solid lightgray;
    padding: inherit;
    text-decoration: none;
    color: black;
}

.btn-review:hover{
    color: white;
    background-color: steelblue;
    transition: 0.2s;
}

/* 별점 */

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
}

.star-rating :checked ~ label {
  color:#fc0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}


/* review */
.review_text{
    height: 200px;
    width: 100%;
}

.submit-btn{
    position: fixed;
}

.photo_ex{
    display: flex;
    min-height: 10rem;
    background-color:rgba(198, 201, 207, 0.2);
}

.photo_ex > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview_img{
    padding: 1rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.slick_test3{
    max-width: 25rem;
    max-height: 30rem;
}

.slick_test3 img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

#contentCheck{
	font-family: 'SBAggroL';
    color: red;
}

.ad_check_label{
	padding-top: 10px;
}

tbody > tr:hover{
    background-color:rgba(198, 201, 207, 0.3);
}

.review-nav > li a.selected{	
	color:black;
	font-weight:bold;
}


/* enquiry */
.enquiry_title:hover{
    text-decoration: underline;
}

.eq-add-btn, .eq-search, .order-search, .review-search, .faq-search{
	font-family: 'SBAggroL';
    margin-left: 7px;   
    box-shadow: 1px 1px 3px 1px #dadce0;
    background-color: ButtonFace;
    border: none;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
}

.fromDate input {
	margin-right:10px;
	width:6em;
}

.fromDate button {
	margin-left: 10px;
}

.eq-click{
    background-color:rgba(198, 201, 207, 0.1);
}

.orderList-wrapper *{
	font-family: 'SBAggroL';
}


.cs-nav{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.cs-nav > li {
    min-width: 33.333333333%;
    border: 1px solid lightgray;
    padding: 1rem;
}

.cs-nav > li:hover{
    background-color:rgba(198, 201, 207, 0.2);
}

.cs-nav > li:first-child{
    background-color: transparent;
    border-right: none;
}

.cs-nav > li:last-child{
    border-left: none;
}

.cs-nav a {
    color: black;
    text-decoration: none;
}

.qa-table{
    margin-right: 0;
}

.qa-table > tbody tr:hover{
    background-color: transparent;
}

.qa-table th, .qa-table td  {
    padding-bottom:0.8rem;
}

#faq-search{
    display: flex;
    justify-content: space-between;
    max-height: 2rem;
    max-width: 20rem;
    min-width: 15rem;
}

#faq-search * {
    margin-right: 0.5rem;
}

#faq-search > p {
    transform: translateY(-25%);
}

.faq-nav{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.faq-nav > li {
    min-width: 12.5%;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 13px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.faq-nav > li:hover{
    background-color:rgba(198, 201, 207, 0.2);
}

.faq-nav > li:first-child{
    border-right: none;
}

.faq-nav > li:first-child ~ li{
    border-right: none;
}

.faq-nav > li:last-child{
    border-right: 1px solid lightgray !important;
}

.faq-nav a {
    color: black;
    text-decoration: none;
}

.faq-nav > li a.selected{	
	color:black;
	font-weight:bold;
}

.faq-table *{
    font-size: 14px !important;
}

.faq-table td, th{
    height: 30px !important;
}

.faq-answer{
	background-color: lightgray;
}

.faq-answer *{
    text-align: left;
}

.faq-answer p {
    margin: 0;
}


.prd-price{
    padding-left: 0%;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
}

.cart-prd-amount > input{
    max-width: 2rem;
    text-align: center;
}


.cart-del-btn {
    background-color: transparent;
    font-size: 12px;
    border-color: lightgray;
}

.cart-del{
    display: flex;
    justify-content: space-between;
    max-width: 9rem;
    font-size: 13px;
}

.cart-del button {
    background-color: transparent;
    border-color: lightgray;
}

.cart-del button:hover{
    background-color: black;
    color: white;
}

.cart-discount-info{
    font-size: 13px;
}

.cart-discount-info > p{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.cart-discount-table{
    width: 100%;
    font-size: 12px;
}

.cart-discount-table tr{
    border: 1px solid lightgray;
    height: 45px;
    vertical-align: middle;
}

.cart-discount-table th{
    padding: 15px 0 13px 10px;
}

.cart-discount-table button{
    background-color: transparent;
    border-color: lightgray;
}

.cart-total{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 15rem;
    padding-right: 15rem;
}

.cart-total > div {
    display: flex;
}

.cart-total span{
    color: gray;
    font-size: 13px;
    margin-right: 1rem;
    transform: translateY(10%);
}

.cart-total p{
    font-size: 1.2rem;
}

.cart-buy-btn{
    border: 1px solid black;
    margin-left: 43%;
    background-color: black;
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
}

.cart-buy-btn:hover{
    border: 1px solid steelblue;
    background-color: steelblue;
    transition: 300ms;
}


/* order list */
.order-nav > li a.selected{	
	color:black;
	font-weight:bold;
}







.simple-table{
    text-align: center;
}

.simple-table thead{
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

.simple-table tbody{
    font-size: 14px;
}

.simple-table tr{
    height: 50px;
}

.simple-table tbody>tr{
    border-bottom: 1px solid lightgray;
    height: 50px;
    text-align: center;
}

.simple-table ul{
    list-style: none;
    padding: 0;
    transform: translateY(20%);
}

.simple-table .address, .cp-name{
    text-align: left;   
}

.simple-table .address span, .cp-name span{
    border: 1px solid steelblue;
    padding: 0.2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: steelblue;
}


.simple-table input {
    border: none;
    text-align: center;
    background-color: transparent;
}

.address{
	display: flex;
	align-items: center;
}

.address span{
	margin-right: 20px;

}

.address-btn > ul{
    display: flex;
    justify-content: space-around;
}

.address-btn a:focus{
	outline:none; 
	text-decoration: none;
}
.address-btn a {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'SBAggroL';
    margin-left: 7px;   
    box-shadow: 1px 1px 3px 1px #dadce0;
    background-color: ButtonFace;
}

.address-btn button:hover{
    background-color: black;
    border-color: lightgray;
    color: white;
}
.address-insert-btn{
	width: 9em;
    font-size: 13px;
}

.address-add-btn{
	font-family: 'SBAggroL';
    margin-left: 7px;   
    box-shadow: 1px 1px 3px 1px #dadce0;
    background-color: ButtonFace;
}

/* address-pop  */
#pop_wrap{
	margin:1em;
}

#pop_wrap *:hover{
	none;
}

.pop_title{
	display:flex;
	justify-content:stretch;
	padding:15px;
	margin-bottom:1.5em;
}
.pop_title h2{
	margin : 10px;
	font-family: 'SBAggroL';
}
.address_name_td{
	height: 50px;
}

.zip_span label{
	margin-right: 30px;
}

.address_content{
	margin-right: 12px;
}

.address_name_td label{
	margin-right: 30px;
}

.address_info label{
	padding-left: 1em;
}

.address_info td{
	/* pointer-events: none; */
}

.cell_title{
	width: 50px;
	padding-left: 1em;
}

.address_detail{
	margin-top:24px;
}

.add_detail{
	margin-right: 12px;	
}

.address_notice{
	margin-left: 15px;
}

.address_pop_btn{
	display: flex;
	justify-content: center;
}

.address_pop_btn input{
	margin:5px;
}

/* acc-money 적립금 */
.acc-nav > li a.selected{	
	color:black;
	font-weight:bold;
}

.acc-money-ul{
    list-style: none;
    padding: 0;
}

#sample6_address{
	width: 20.1em;
	margin-left: 1em;
}

.acc-money-ul li:first-child{
    font-size: 14px;
    color: gray;
    padding-bottom: 0.5rem;
}

.acc-money-ul li:last-child{
    font-size: 1.5rem;
}

.acc-note{
    font-size: 14px;
    padding-left: 1rem;
}

.acc-prd{
    color: gray;
}

.simple-table .acc-context{
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}