.banner-area{
    margin: 0;
    padding: 0;
    min-width: 100%;
}
  
.banner-link{
    min-width: 100%;
    min-height: 70px;
    max-height: 70px;
}


.bn-btn{
    position: fixed;
    transform: translateX(-200%);
}

.prd-category > div{
    display: flex;
    justify-content: center;
}

.prd-category > ul{
    list-style: none;
    padding: 0; 
    display: flex; 
    justify-content: space-around;
}

.prd-category li{
    font-size: 14px;
}

.category-title{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.category-title > *{
    width: 33%;
}

.prd-img{
    max-height: 250px;
    max-width: 250px;
}

.prd-area{
    max-width: 250px;
}

.prd-area > a{
    position: relative;
    text-decoration: none;
    color: black;
}

.prd-list-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  transition: all 0.5s ease;
  content: "강";
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-360deg);
  content: "고";
}

.sort-option{
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 13px;
    transform: translateY(50%);
}

.sort-option > li {
    padding-left: 5px;
}

.sort-option > li::after {
    content: " |";
}

.sort-option > li:last-child::after {
    content: "";
}

.sort-option-btn{
    background-color: transparent;
    border: 0;
}

.sort-option-btn:hover{
    color: steelblue;
}


.prd-detail{
    display: flex;
    justify-content: center;
}

.prd-detail-info{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 40%;
}

.prd-detail-img{
    width: 500px;
    height: 500px;
}

.review-btn{
    background-color: transparent;
    border: 0;
    line-height: 1px;
}

.prd-detail-sub{
    list-style: none;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.prd-option{
    background-color: rgba(42,42,42,0.05);
    font-size: 15px;
}

.prd-option-select{
    width: 100%; 
    border-color: lightgray;
    height: 35px;
    transition: all 500ms ease-in-out;
}

.selected-prd{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(42,42,42,0.05);
}

.prd-amount{
    display: flex;
}


.prd-amount > button{
    background-color: white;
    border: 1px solid black;
}

.prd-amount > input{
    text-align: center;
    width: 2rem;
    border: 1px solid black;
}

#prd-total-price{
    border: 0;
    text-align: right;
}

#prd-total-price:focus{
    outline: none;
}

.buy-btns > *{
    width: 49%;
    height: 40px;
}

.buy-btn{
    background-color: rgb(255, 193, 7);
    border: 2px solid rgb(255, 193, 7);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.buy-btn:hover{
    background-color:steelblue;
    border: 2px solid steelblue;
    transition: 400ms;
}

.cart-btn{
    letter-spacing: 1px;
    border: 2px solid lightgray;
}

.cart-btn:hover{
    background-color: black;
    border: 2px solid black;
    transition: 400ms;
    color: white;
}

.detail-tab-ul{
    padding-left: 10rem;
    padding-right: 10rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.detail-tab-ul *{
    background-color: transparent;
    border: 0;
}

.prd-description{
    text-align: center;
}

.prd-review-tab{
    display: flex;
    flex-direction: column;
    
}

#prd-review-tit{
    font-size: 25px;
    font-weight: bold;
    margin-top: 8rem;
    margin-bottom: 0;
}

.review-nav{
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.review-nav button {
    background-color: transparent;
    border: 0;
    padding-right: 1.2rem;
}

.review-nav button:hover {
    color: steelblue;
    transition: 400ms;
}

.review-nav button:first-child{
    padding-left: 0;
}

.prd-review-content{
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-content-imgs{
    display: flex;
    flex-wrap: wrap;
}

.review-content-imgs > div{
    margin-right: 1rem;
}

.like-btn{
    border: 1px solid black;
    border-radius: 1rem;
}

.prd-detail-qna th{
    height: 40px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.prd-detail-qna td{
    height: 35px;
    border-bottom: 1px solid lightgray;
    font-size: 13px;
    text-align: center;
}

.prd-enquiry-btn{
    border: 1px solid steelblue;
    background-color: white;
    transform: translateY(50%);
    color: steelblue;
    font-size: 14px;
}

.prd-enquiry-btn:hover{
    transition: 300ms;
    color: white;
    background-color: steelblue;
}

#focus-q{
    border: 0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

#focus-q:focus{
    outline: none;
}


/* 진행중인이벤트/당첨자발표 */
.event-title{
	justify-content: center;
	display: flex;
    font-size: 18px;
}
.event-tab-wrap{
	display:flex;
	justify-content: space-between;
	width: 20em;
	margin: 1em;
    position: relative;
}

.event-tab-wrap a{
	color: black;
    text-decoration: none;
    border: 1px solid #666;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    width: 50em;
}

.event-tab-wrap>a:hover{
	background-color: rgb(240, 240, 214);
}


.event-tab-wrap > a.selected{	
	color:black;
	font-weight:bold;
	background-color:rgb(240, 240, 214);
}

.event-title{
	font-size: 1.2em;
	margin: 5px;
}


.event-content{
	font-size: 1em;
	margin: 5px;
}


.event-date{
	font-size: 0.8em;
	margin: 5px;
	display: flex;
    justify-content: center;
}

.event-date>span{
	font-weight: normal;
	top: -2px;
	display: flex;
	align-items: center;
	margin-right: 5px;
}


.discount-div{
    display: flex;
    font-size: 12px;
    flex-direction: column;
}

.discount-div button {
    margin-top: 4px;
    border: none;
    background-color: steelblue;
    color: white;
    width: 20%;
}

.discount-div button:hover {
    background-color: black;
    color: white;
}

.like-val{
    border: none;
    width: 2rem;
    text-align: center;
    line-height: 1px;
}

.like-val:focus{
    outline: none;
}


/* pagination */
.page_wrap {
	
	text-align:center;
	font-size:0;
	margin-top: 6rem;
    margin-bottom: 3rem;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}


.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.page_nation a:hover{
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

/* search */

.event_search{
	display: flex;
    margin-bottom: 5rem;	
}



.event_search *{
	font-size: 0.8rem;
}

#search_wrap{
	display: flex;
    justify-content: center;
}


#sm-value{
    border: 1px solid gray;
    border-radius: 0.2rem;
    width: 5rem;
    text-align: right;
}

#sm-available, #have-sm{
    border: none;
    border-radius: 0.2rem;
    line-height: 3px;
}

#sm-available{
    color: steelblue;
}

#have-sm{
    color: #f60;
}

#cp-amount{
	paddi
}

