@charset "UTF-8";

/* 폰트 어그로 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* google noto sans */

@font-face {
font-family: 'NotoKrL';
font-style: normal;
font-weight: 100;
src: local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/NotoSans-Light.eot);
src: url(/fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Light.woff2) format('woff2'),
url(/fonts/NotoSans-Light.woff) format('woff');;
}
@font-face {
font-family: 'NotoKrR';
font-style: normal;
font-weight: 300;
src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans-Regular.eot);
src: url(/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Regular.woff2) format('woff2'),
url(/fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
font-family: 'NotoKrM';
font-style: normal;
font-weight: 500;
src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/NotoSans-Medium.eot);
src: url(/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Medium.woff2) format('woff2'),
url(/fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
font-family: 'NotoKrB';
font-style: normal;
font-weight: 700;
src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/fonts/NotoSans-Bold.eot);
src: url(/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Bold.woff2) format('woff2'),
url(/fonts/NotoSans-Bold.woff) format('woff');
}

ul li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.petcare-back{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 30px 70px;
	
}

.petcare-back h1{
	padding-top:50px;
	padding-bottom:20px;
	font-size:2.3em;
	text-align:center;
	font-family: 'SBAggroL';
} 

.second-title{
	padding-bottom:20px;
	font-size:1em;
	text-align:center;
	text-decoration: none;
	font-family: 'SBAggroL';
}

.top-food{
	
}

.third-title{
	padding-top:5em;
	padding-bottom:50px;
	font-size:1.5em;
	text-align:center;
	text-decoration: none;
	font-family: 'SBAggroL';
}

.food-one{
	
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.food-one>div{
	margin: 40px;
}

.food-one p{
	font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: 'SBAggroL';
}

.food-one img {
	display: flex;
    align-content: center;
}

.food-two{
	
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.food-two>div{
	margin-left: 100px;
    margin-right: 100px;
}

.food-two p{
	font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: 'SBAggroL';
}

.avocado img {
	display: flex;
	margin-left: 80px;
    margin-bottom: 10px;
}

.avocado{
	width: 70%;
}


.petcare-wrap{
	display: flex;
    justify-content: space-around;
    margin-top: 10em;
}


.petcare-con{
	flex-direction:column;
    background-color:rgb(248, 246, 238);
	box-shadow:0px 5px 15px #ccc;
	border-radius: 50%;
    width: 300px;
    height: 300px;
 
}

.petcare-con a{
	color: black;
    text-decoration: none;
}

.search {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	
}

.search-inner {
	display: flex;
	justify-content: center;
	width: 300px;
	border-bottom: 1px solid rgb(243, 224, 149);
	padding-bottom: 7px;
}


.search-input input {
	width: 260px;
	text-align: center;
	border: none;
	font-size: 16px;
}

.search-button button {
	border: none;
	outline: none;
	background: none;
}

.search-button button i {
	color: rgb(243, 224, 149);
	font-size: 16px;
}


/* tab */
.petcare-tab-wrap{
	display:flex;
	margin-bottom:40px;
}

.petcare-tab-wrap > li{
	width:25%;
}
.petcare-tab-wrap > li a{
	width:100%;
	display:block;
	text-align:center;
	background-color:white;
	padding:20px 0;
	text-decoration-line: none;
	
}

.petcare-tab-wrap > li a.selected{
	
	color:black;
	font-weight:bold;
	background-color:rgb(243, 224, 149);
}





