@charset "UTF-8";

/* 폰트 어그로 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* google noto sans */

@font-face {
font-family: 'NotoKrL';
font-style: normal;
font-weight: 100;
src: local('Noto Sans Light'), local('NotoSans-Light'), url(/fonts/NotoSans-Light.eot);
src: url(/fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Light.woff2) format('woff2'),
url(/fonts/NotoSans-Light.woff) format('woff');;
}
@font-face {
font-family: 'NotoKrR';
font-style: normal;
font-weight: 300;
src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/fonts/NotoSans-Regular.eot);
src: url(/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Regular.woff2) format('woff2'),
url(/fonts/NotoSans-Regular.woff) format('woff');
}
@font-face {
font-family: 'NotoKrM';
font-style: normal;
font-weight: 500;
src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/fonts/NotoSans-Medium.eot);
src: url(/fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Medium.woff2) format('woff2'),
url(/fonts/NotoSans-Medium.woff) format('woff');
}
@font-face {
font-family: 'NotoKrB';
font-style: normal;
font-weight: 700;
src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/fonts/NotoSans-Bold.eot);
src: url(/fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
url(/fonts/NotoSans-Bold.woff2) format('woff2'),
url(/fonts/NotoSans-Bold.woff) format('woff');
}

 table {
        width: 100%;
        border-top: 1px solid;
        border-collapse: collapse;
        
        
      }
      
th, td {
        border-bottom: 1px solid;
        padding: 10px;
        text-align: center;
        border: 1px solid rgb(243, 224, 149);
      }
      
.yel{
	background-color: rgb(243, 224, 149);
}

ul li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.petcare-back{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 30px 70px;
	font-family: 'NotoKrL';
	
}

.petcare-back a{
	display: flex;
    justify-content: flex-end;
    color: rgb(51, 51, 51);
    text-decoration: none;
    padding-top: 5em;    
    align-items: center;
    font-size: 1.2em;
}

.petcare-back h2{
	display: flex;
	justify-content: flex-start;
	padding-top:30px;
	padding-bottom:20px;
	font-size:2.3em;
	text-align:center;
	font-family: 'SBAggroL';
} 

.petcare-title h2 i{
	color:#483D8B;
	font-size:0.9em;
}

.petcare-wrap{
	background-color:rgb(248, 246, 238);
	padding: 50px;
	box-shadow:0px 5px 15px #ccc;
	border-radius:15px;
	
}

.petcare-wrap a{
	font-family: 'SBAggroL';
}

.petcare-con{
	background-color:rgb(248, 246, 238);
	border-radius:15px;
	
}

.petcare-con div{
	margin: 10px;
	
}

.petcare-con p{
	margin-top: 50px;
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-family: 'SBAggroL';
}

.petcare-con pre{
	margin-top: 20px;
	font-weight: bold;
}


/* tab */
.petcare-tab-wrap{
	font-family: 'NotoKrL';
	
	display:flex;
	margin-bottom:40px;
	justify-content: space-around;
	color: rgb(243, 224, 149);
}

.petcare-tab-wrap > li{
	width:25%;
}
.petcare-tab-wrap > li a{
	width:100%;
	display:block;
	text-align:center;
	background-color:white;
	padding:20px 0;
	text-decoration-line: none;
	
}

.petcare-tab-wrap > li a.selected{
	
	color:black;
	font-weight:bold;
	background-color:rgb(243, 224, 149);
}





