<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.spring.board.model.repository.BoardRepository">
  
  	

  	<select id="selectBoard" resultType="map">
  	select * from(
  	select  rownum rnum, nickname, user_idx, bd_idx, bd_title, reg_date, view_count, rec_count, content ,category from(
  		select m.nickname, m.user_idx, b.bd_idx, b.bd_title, b.reg_date, b.view_count, b.rec_count, b.content ,b.category
  		from board b join "USER" m on(b.user_idx = m.user_idx)
  		<where>
  			<if test="commandMap.category != null">category = #{commandMap.category}</if>
  			<if test="commandMap.option != null and commandMap.keyword != null">and ${commandMap.option} like '%'||#{commandMap.keyword}||'%'</if>
  			
  		</where>
  		<if test="commandMap.sort != null">order by ${commandMap.sort} desc</if>
  		))where rnum between ${((pageUtil.curPage-1) * pageUtil.cntPerPage) + 1} and ${pageUtil.curPage * pageUtil.cntPerPage} 
  	</select>
  	
  <select id="selectBoardCnt" resultType="java.lang.Integer">
  	select count(*) from(
  	
  		select m.nickname, b.bd_idx, b.bd_title, b.reg_date, b.view_count, b.rec_count, b.content ,b.category
  		from board b join "USER" m on(b.user_idx = m.user_idx)
  		<where>
  			<if test="commandMap.category != null">category = #{commandMap.category}</if>
  			<if test="commandMap.option != null and commandMap.keyword != null">and ${commandMap.option} like '%'||#{commandMap.keyword}||'%'</if>
  			
  		</where>
  		)
  	</select>
  	<insert id="insertComment">
  	<choose>
  		<when test="cmType == 0">
  		insert into board_comment(cm_idx, bd_idx, cm_content, user_idx, nickname, pr_idx) values(sc_cm_idx.nextval, #{bdIdx}, #{cmContent}, #{userIdx}, #{nickname}, sc_cm_idx.nextval)
  		</when>
  		<otherwise>
  		insert into board_comment(cm_idx, bd_idx, cm_content, user_idx, nickname, pr_idx, cm_type) values(sc_cm_idx.nextval, #{bdIdx}, #{cmContent}, #{userIdx}, #{nickname}, #{cmIdx}, #{cmType})
  		</otherwise>
  	</choose>
  
  		
  	</insert>
  
  	
  </mapper>