<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.spring.board.model.repository.BoardRepository">
  
  	

  	<select id="selectBoard" resultType="map">
  	
  	select  rnum, nickname, bd_idx, bd_title, reg_date, view_count, rec_count, content ,category from(
  		select rownum rnum, m.nickname, b.bd_idx, b.bd_title, b.reg_date, b.view_count, b.rec_count, b.content ,b.category
  		from board b join "USER" m on(b.user_idx = m.user_idx)
  		<where>
  			category = #{commandMap.category}
  			<if test="commandMap.option != null">and ${commandMap.option} like '%'||#{commandMap.keyword}||'%'</if>
  			
  		</where>
  		)where rnum between ${((pageUtil.curPage-1) * pageUtil.cntPerPage) + 1} and ${pageUtil.curPage * pageUtil.cntPerPage} 
  	</select>
  	
  
  	
  	
  </mapper>