<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.spring.market.model.repository.ShopRepository">
  	
  	 <select id="selectPrdListBySet" resultType="Product">
  	 	select *
  	 	from (select rownum rnum, prd_idx, event_idx, sub_img_idx, name, brand, rating, price, sale_per, reg_date, type
				from (select prd_idx, event_idx, sub_img_idx, name, brand, rating, min(price) price, sale_per, reg_date, type
        				from product
        				join prd_detail using (prd_idx)
        		<choose>
	        		<when test="listSet.category != 'all'">
	        		where category = #{listSet.category} and type in ('A',
	        			<choose>
	        				<when test="listSet.check == 'true'">
								'C')
	        				</when>
	        				<otherwise>
								'D')
	        				</otherwise>
	        			</choose>
	        		</when>
	        		<otherwise>
	        		where type in ('A',
	        			<choose>
	        				<when test="listSet.check == 'true'">
								'C')
	        				</when>
	        				<otherwise>
								'D')
	        				</otherwise>
	        			</choose>
	        		</otherwise>
        		</choose>
        		GROUP BY prd_idx, event_idx, sub_img_idx, name, brand, rating, sale_per, reg_date, type
				<if test="listSet.option != null">
        		order by
        			<choose>
        				<when test="listSet.option == 'new'">
        					reg_date
        				</when>
        				<when test="listSet.option == 'pop'">
        					rating
        				</when>
        				<otherwise>
        					price
        				</otherwise>
        			</choose>
					<choose>
						<when test="listSet.option == 'low'">
							asc
						</when>
						<otherwise>
							desc
						</otherwise>
					</choose>    		
        		</if>
        		))
		where rnum between ${((pageUtil.curPage-1) * pageUtil.cntPerPage) + 1} and ${pageUtil.curPage * pageUtil.cntPerPage} 
	</select>
	
	<select id="prdListCnt" resultType="java.lang.Integer">
  	 	select count(*)
		from (select prd_idx, event_idx, sub_img_idx, name, brand, rating, min(price) price, sale_per, reg_date, type
        		from product
        		join prd_detail using (prd_idx)
        		<choose>
	        		<when test="listSet.category != 'all'">
	        		where category = #{listSet.category} and type in ('A',
	        			<choose>
	        				<when test="listSet.check == 'true'">
								'C')
	        				</when>
	        				<otherwise>
								'D')
	        				</otherwise>
	        			</choose>
	        		</when>
	        		<otherwise>
	        		where type in ('A',
	        			<choose>
	        				<when test="listSet.check == 'true'">
								'C')
	        				</when>
	        				<otherwise>
								'D')
	        				</otherwise>
	        			</choose>
	        		</otherwise>
        		</choose>
        		GROUP BY prd_idx, event_idx, sub_img_idx, name, brand, rating, sale_per, reg_date, type)
	</select>
  	
  	<select id="selectPrdByIdx" resultType="Product">
  		select prd_idx, event_idx, sub_img_idx, name, brand, rating, min(price) price, sale_per
		from product
		join prd_detail using(prd_idx)
		where prd_idx = #{prdIdx}
		GROUP by prd_idx, event_idx, sub_img_idx, name, brand, rating, sale_per
  		
  	</select>
  	
  	<select id="selectReviewByPrdIdx" resultType="Review">
		select rv_idx, rv.user_idx user_idx, rv.prd_idx prd_idx, order_idx, rv.dt_idx dt_idx, rv.state state, "USER".user_name user_name, prd.name prd_name, pd.po_name dt_name, rv.rating rating, rv.type type, recommand, rv.reg_date reg_date, rv.is_del is_del, rv_content
		from review rv
		join product prd on (rv.prd_idx = prd.prd_idx)
		join "USER" ON (rv.USER_IDX = "USER".USER_IDX)
		join prd_detail pd on(rv.dt_idx = pd.dt_idx) 
		where rv.prd_idx = #{prdIdx}
  	</select>
  	
  </mapper>