<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.spring.mypage.model.repository.MypageRepository">

  	<update id="updateMemberDynamicQuery">
  		update member
  		<set>
  			<if test="nickName != null">
  				nickname = #{nickName}
  			</if>
  			<if test="password != null">
  				,password = #{password}
  			</if>
  			<if test="address != null">
  				,address = #{address}
  			</if>
  		</set>
  		where user_idx = #{userIdx}
  	</update>
  	
  </mapper>