@charset "UTF-8";

@font-face {
	font-family: "NotoSansKrL";
	src: local("NotoSansKR-Light"), url(C:/CODE/FINAL/fonts/NotoSansKR-Light.otf);
}

@font-face {
	font-family: "NotoSansKrR";
	src: local("NotoSansKR-Regular"), url(C:/CODE/FINAL/fonts/NotoSansKR-Regular.otf);
}

body{
	font-family: "NotoSansKrL";
}

.nav-link{
	color: black;
}