@charset "UTF-8";

.modal{
	display: none;
	position: absolute;
	width: 300px; 
	height: 350px; 
	background-color: #fff4cc; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%);
}

.calendar{
	color: black;
}